# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.6-1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ca-certificates-2017.08.26-ha1e5d58_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.19.8.1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/giflib-5.1.4-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/graphite2-1.3.11-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/icu-58.2-0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/intel-openmp-2018.0.0-8.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jpeg-9b-he5867d9_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libcxxabi-4.0.1-hebd6815_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libgfortran-3.0.1-h93005f0_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.15-0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/libopus-1.2.1-h169cedb_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/libsodium-1.0.15-hd9e47c5_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pandoc-1.19.2.1-ha5e8f32_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pcre-8.41-1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.34.0-1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/tk-8.6.7-h35a86e2_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/x264-20131217-3.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/xz-5.2.3-h0278029_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/zlib-1.2.11-hf3cbc9b_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.10.1-2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jasper-1.900.1-4.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libcxx-4.0.1-h579ed51_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libpng-1.6.34-he12f830_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.9.8-0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/mkl-2018.0.2-1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openblas-0.2.20-7.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/openssl-1.0.2o-h26aff7b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/blas-1.0-mkl.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/freetype-2.8-h12048fb_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libffi-3.2.1-h475c297_4.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/libprotobuf-3.4.1-h326466f_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libtiff-4.0.9-h0dac147_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/libvpx-1.6.1-h057a404_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ncurses-6.0-hd04f020_2.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/zeromq-4.2.3-h378b8a2_3.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ffmpeg-3.4-h766ddd1_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/fontconfig-2.12.6-h9850fc5_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/glib-2.53.6-h33f6a65_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libedit-3.1-hb4e282d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libwebp-0.5.2-7.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/readline-7.0-hc1231fa_4.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/cairo-1.14.12-hab642c4_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/sqlite-3.22.0-h3efe00b_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/harfbuzz-1.7.4-h08e020e_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/python-3.6.4-hc167b69_3.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/alabaster-0.7.10-py36h174008c_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/appnope-0.1.0-py36hf537a9a_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/asn1crypto-0.24.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/backports-1.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/certifi-2018.1.18-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/chardet-3.0.4-py36h96c241c_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/decorator-4.2.1-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/docutils-0.14-py36hbfde631_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/entrypoints-0.2.3-py36hd81d71f_2.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/idna-2.6-py36h8628d0a_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/imagesize-1.0.0-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ipython_genutils-0.2.0-py36h241746c_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.0.1-py36_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/markupsafe-1.0-py36h3a1e703_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/mistune-0.8.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/olefile-0.45.1-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pandocfilters-1.4.2-py36h3b0b094_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/parso-0.1.1-py36hc90e01c_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pickleshare-0.7.4-py36hf512f8e_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ptyprocess-0.5.2-py36he6521c3_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pycparser-2.18-py36h724b2fc_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pyparsing-2.2.0-py36hb281f35_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pysocks-1.6.8-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pytz-2018.3-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pyzmq-17.0.0-py36h1de35cc_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/send2trash-1.5.0-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/simplegeneric-0.8.1-py36_2.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/simplejson-3.13.2-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/six-1.11.0-py36h0e22d5e_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/snowballstemmer-1.2.1-py36h6c7b616_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/sphinxcontrib-1.0-py36h9364dc8_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/testpath-0.3.1-py36h625a49b_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/tornado-5.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.19.8-py_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/typing-3.6.4-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/wcwidth-0.1.7-py36h8c6ec74_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/webencodings-0.5.1-py36h3b9701d_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/babel-2.5.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/cffi-1.11.5-py36h342bebf_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cycler-0.10.0-py36hfc81398_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/html5lib-1.0.1-py36h2f9c1c0_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/packaging-17.1-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pexpect-4.4.0-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pillow-5.0.0-py36hfcce615_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/python-dateutil-2.7.2-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/setuptools-38.5.1-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/sphinxcontrib-websupport-1.0.1-py36h92f4a7a_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/terminado-0.8.1-py36_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/traitlets-4.3.2-py36h65bd3ce_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/backports.functools_lru_cache-1.5-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/bleach-2.1.3-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/cryptography-2.2.1-py36h1de35cc_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/jinja2-2.10-py36hd36f9c5_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/jsonschema-2.6.0-py36hb385e00_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/jupyter_core-4.4.0-py36h79cf704_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pygments-2.2.0-py36h240cd3f_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/wheel-0.30.0-py36h5eb2c71_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/jupyter_client-5.2.3-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/nbformat-4.4.0-py36h827af21_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pip-9.0.1-py36_5.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/prompt_toolkit-1.0.15-py36haeda067_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pyopenssl-17.5.0-py36h51e4350_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/nbconvert-5.3.1-py36h810822e_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/urllib3-1.22-py36h68b9469_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/requests-2.18.4-py36h4516966_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/sphinx-1.7.2-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/numpydoc-0.7.0-py36he54d08e_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/jedi-0.11.1-py36_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ipython-6.2.1-py36h3dda519_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ipykernel-4.8.2-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/notebook-5.4.1-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/widgetsnbextension-3.1.4-py36_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/ipywidgets-7.1.2-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-2.2.2-py36ha7267d0_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/mkl_fft-1.0.1-py36h917ab60_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/mkl_random-1.0.1-py36h78cc56f_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/numpy-1.14.2-py36ha9ae307_1.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/opencv-3.3.1-py36h60a5f38_1.tar.bz2
https://conda.anaconda.org/pytorch/osx-64/pytorch-0.3.1-py36_cuda0.0_cudnn0.0_2.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/scipy-1.0.0-py36h1de22e9_0.tar.bz2
https://conda.anaconda.org/pytorch/osx-64/torchvision-0.2.0-py36hf5eb7ec_1.tar.bz2
